.listitem {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: solid 3px silver;
    margin: 10px;
}

.listitem form {
    min-width: 100px;
}

.picker {
    padding: 40px;
}